<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CortexOfFasting.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>FastTrack Mac App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>FastTrack Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Lockscreen WidgetsExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2F1007C7291A00C8004CE72E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F8D29FE293FF743002AA901</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F8D2A7429410737002AA901</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2FDBB1F5293A494B00A8A2BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2FDBB1FA293A494B00A8A2BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2FDBB2A5293E591E00A8A2BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
